*
{
    margin: 0;padding: 0;box-sizing: border-box;
}
.main
{
    height: 600px;
    width: 100%;
    background: url(img/a.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
.main .main1
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    left: 0;
    background: #303030;
}
.main .main1 .main2
{
    width: 20%;
   text-align: center;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
  
}

.main .main1 .main2 img
{
    height: 60px;
    width: 150px;
    text-align: center;
    
}
.main .main1 .main3
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 70%;
   
}
.nav
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  
    font-family: Oswald;
    
    
}
ul
{
    margin: 0;
    padding: 0;
}
li{
    display: inline;
    
}
.nav a
{
    text-decoration: none;
    list-style: none;
    font-size: 20px;
   padding-right: 50px;
   color: #ffffff;
   
}
.main .main1 .main4
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    width: 10%;
   text-align: center;
   line-height: 100px;
}
.main .main1 .main4 img
{
    height: 30px;
    width: 30px;
    text-align: center;
    
}
@media (max-width:500px)
{
    .main
    {
        flex-direction: column;
    }
    
    .main2
    {
        width: 100%;
        flex-basis: 500px;
    }
    .main3
    {
        width: 100%;
        flex-basis: 400px;
    }
    .main4
    {
        width: 100%;
        flex-basis: 300px;
    }
    .main8
    {
        width: 100%;
        font-size: 10px;
        line-height: 20px;
    }
    .nav
    {
        display: none;
    }
    .main6
    {
      display: none;
    }
}

.main .main7
{
    position: absolute;
    bottom: 10%;
    left: 0%;
 
    padding: 30px;
    text-align: left;
    line-height: 50px;
    font-family: Oswald;
    font-size: 30px;
    
    
}
.main .main7 .main8
{
   
    padding: 50px ;
    

}

.main .main7 .main8 button
{
   padding: 10px 30px;
   background: #e8631c;
   border: none;
   color: #ffffff;
   font-family: oswald;
}
.main .main7 .main8
{
    color: #ffffff;
}





.slider
{
background: #e8631c;
padding: 40px;
}
.slider .slider1
{

padding: 30px;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;

}
.slider .slider1 .s1
{
padding: 30px;


}
.slider .slider1 .s1 h1
{
font-size: 40px;
text-align: center;
font-family: Oswald;
font-weight: bold;
color: #ffffff;
letter-spacing: 2px;
}
.slider .slider1 .s1 p
{
 font-size: 20px;
 color: #ffffff;
 font-family: 'Montserrat', sans-serif;
 text-align: left;
 line-height: 30px;

}


.slider .slider2
{

padding: 30PX;
display: flex;
flex-wrap: wrap;
justify-content: center;


}
.slider .slider2 .s2
{
padding: 0px;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;

gap: 30px;

}
.slider .slider2 .s2 .a1
{
width: 300px;
background: #303030;
}
.slider .slider2 .s2 h2
{
text-align: center;
line-height: 30px;
color: #ffffff;
text-transform: uppercase;
font-family: Oswald;
}
.slider .slider2 .s2 p
{
text-align: center;
font-size: 22px;
color: #ffffff;
font-family: 'Montserrat', sans-serif;
}


.slider .slider2 .s2 .a2
{
width: 300px;

background: #303030;
}
.slider .slider2 .s2 h2
{
text-align: center;
line-height: 30px;
color: #ffffff;
text-transform: uppercase;
font-family: Oswald;
}
.slider .slider2 .s2 p
{
text-align: center;
font-size: 22px;
color: #ffffff;
font-family: 'Montserrat', sans-serif;
}

.slider .slider2 .s2 .a3
{
width: 300px;
background: #303030;
}
.slider .slider2 .s2 h2
{
text-align: center;
line-height: 30px;
letter-spacing: 2px;
color: #ffffff;
text-transform: uppercase;
font-family: Oswald;
}
.slider .slider2 .s2 p
{
text-align: center;
font-size: 22px;
color: #ffffff;
font-family: 'Montserrat', sans-serif;
}

.card
{
background: #303030;
padding: 40px;
}
.card .card1
{

padding: 30px;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;

}
.card .card .b1
{
padding: 30px;


}
.card .card1 .b1 h1
{
font-size: 40px;
text-align: center;
font-family: Oswald;
font-weight: bold;
color: #ffffff;
}
.card .card1 .b1 p
{
 font-size: 20px;
 color: #ffffff;
 font-family: 'Montserrat', sans-serif;
 text-align: left;
 line-height: 30px;

}


.card .card2
{

padding: 30PX;
display: flex;
flex-wrap: wrap;
justify-content: center;
text-align: center;
line-height: 40px;


}
.card .card2 .b2
{
padding: 0px;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;

gap: 30px;

}
.card .card2 .b2 .b3
{
width: 300px;
background: #e8631c;
padding: 20px;
text-align: center;
}
.card .card2 .b2 h2
{
text-align: center;
line-height: 30px;
color: #ffffff;
text-transform: uppercase;
font-family: Oswald;
}
.card .card2 .b2 p
{
text-align: center;
font-size: 22px;
color: #ffffff;
font-family: 'Montserrat', sans-serif;
}


.card .card2 .b2 .b4
{
width: 300px;
padding: 20px;
text-align: center;
background: #e8631c;
}
.card .card2 .b2 h2
{
text-align: center;
line-height: 30px;
color: #ffffff;
text-transform: uppercase;
font-family: Oswald;
}
.card .card2 .b2 p
{
text-align: center;
font-size: 22px;
color: #ffffff;
font-family: 'Montserrat', sans-serif;
}

.card .card2 .b2 .b5
{
width: 300px;
background: #e8631c;
padding: 20px;
text-align: center;

}
.card .card2 .b2 h2
{
text-align: center;
line-height: 30px;
color: #ffffff;
text-transform: uppercase;
font-family: Oswald;
}
.card .card2 .b2 p
{
text-align: center;
font-size: 22px;
color: #ffffff;
font-family: 'Montserrat', sans-serif;
}
.card .card2 .b2 button
{
background: #303030;
color: #ffffff;
font-family: Oswald;
padding: 10px;
padding: 0px 90px;
text-align: center;
line-height: 40px;
border: none;
border-radius: 5px;

}
.contant
{
background: #e8631c;
display: flex;
flex-wrap: wrap;

}
.contant .c1{
width: 50%;
}


.contant .c2
{

width: 50%;
padding: 30px;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;

}
.contant .c3
{

padding: 20px;

}

.contant .c3 h1
{
font-size: 80px;
font-family: Oswald;
font-weight: bold;
color: #ffffff;
letter-spacing: 2px;
}
.contant .c3 p
{
font-family: 'Montserrat', sans-serif;
color: #ffffff;
font-size: 30px;

}

.contant .c3 button
{
margin-top: 20px;
font-family: Oswald;
background: #303030;
text-align: center;
line-height: 30px;
padding: 0px 80px;
color: #ffffff;
border: none;
border-radius: 5px;
font-size: 20px;
text-transform: uppercase;
}
@media (max-width:500px)
{
.contant
{
flex-direction: column;
}
.contant .c1
{
width: 100%;
}
.contant .c2
{
width: 100%;
}

}


.contant1
{
background: #e8631c;
display: flex;
flex-wrap: wrap;

}
.contant1 .d2
{
width: 50%;
}

.contant1 .d1
{

width: 50%;
padding: 30px;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;

}
.contant1 .d3
{

padding: 20px;

}

.contant1 .d3 h1
{
font-size: 80px;
font-family: Oswald;
font-weight: bold;
color: #ffffff;
letter-spacing: 2px;
text-transform: uppercase;
}
.contant1 .d3 p
{
font-family: 'Montserrat', sans-serif;
color: #ffffff;
font-size: 30px;

}

.contant1 .d3 button
{
margin-top: 20px;
font-family: Oswald;
background: #303030;
text-align: center;
line-height: 30px;
padding: 0px 80px;
color: #ffffff;
border: none;
border-radius: 5px;
font-size: 20px;
text-transform: uppercase;
}

@media (max-width:500px)
{
.contant1
{
    flex-direction: column;
}
.contant1 .d1
{
    width: 100%;
}
.contant1 .d2
{
    width: 100%;
}
}

.center
{
background: #303030;
padding: 40px;
}

.center .center1
{

padding: 30px;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;


}
.center .center1 .e
{
padding: 30px;


}
.center .center1 .e h1
{
font-size: 40px;
text-align: center;
font-family: Oswald;
font-weight: bold;
color: #ffffff;
letter-spacing: 2px;
text-transform: uppercase;
}
.center .center1 .e p
{
 font-size: 20px;
 color: #ffffff;
 font-family: 'Montserrat', sans-serif;
 text-align: center;
 line-height: 30px;
 padding-top: 50px;

}

.center .center2
{

padding: 30PX;
display: flex;
flex-wrap: wrap;
justify-content: center;
text-align: center;
line-height: 40px;


}
.center .center2 .e1
{
padding: 0px;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;

gap: 30px;

}
.center .center2 .e1 .e2
{
width: 300px;
padding: 20px;
text-align: center;
}
.center .center2 .e1 h1
{
text-align: center;
line-height: 30px;
color: #ffffff;
text-transform: uppercase;
font-family: Oswald;
}
.center .center2 .e1 p
{
text-align: center;
font-size: 22px;
color: #ffffff;
font-family: 'Montserrat', sans-serif;
}


.center .center2 .e1 .e3
{
width: 300px;
padding: 20px;
text-align: center;

}
.center .center2 .e1 h1
{
text-align: center;
line-height: 30px;
color: #ffffff;
text-transform: uppercase;
font-family: Oswald;
}
.center .center2 .e1 p
{
text-align: center;
font-size: 22px;
color: #ffffff;
font-family: 'Montserrat', sans-serif;
}

.center .center2 .e1 .e4
{
width: 300px;

padding: 20px;
text-align: center;

}
.center .center2 .e1 h1
{
text-align: center;
line-height: 30px;
color: #ffffff;
text-transform: uppercase;
font-family: Oswald;
}
.center .center2 .e1 p
{
text-align: center;
font-size: 22px;
color: #ffffff;
font-family: 'Montserrat', sans-serif;
}

.dipak
{
height: 500px;
width: 100%;
background: url(img/8.png);
background-size: 100% 100%; 
background-repeat: no-repeat;
position: relative;
z-index: -2;
}
.dipak::after
{
content: "";
background: #3e1a07;
height: 100%;
width: 100%;
position: absolute;
top: 0;
left: 0;
opacity: .7;
z-index: -1;
}

.dipak .f
{


padding: 30px;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
color: #ffffff;
text-align: center;
font-size: 40px;
padding-top: 130px;
z-index: 0;

}
.dipak .f .f2 p
{
font-family: 'Montserrat', sans-serif;
}
.dipak .f .f2 h2
{
text-transform: uppercase;
font-family: Oswald;
}

@media (max-width:500px)
{
.dipak
{
  width: 100%;
  
  
}
.dipak .f
{
  width: 100%;
  font-size: 20px;
  
}

}

.footer
{
background: #e8631c;
padding: 40px;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
line-height: 60px;
color: #ffffff;
}
.footer .g
{

padding: 30px;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}
.footer .g .g1
{
padding: 30px;


}
.footer .g .g1 h1
{
font-size: 70px;
font-family: Oswald;
letter-spacing: 2px;
}
.footer .g .g1 p
{
font-size: 30px;
font-family: 'Montserrat', sans-serif;
}
.footer .g .g1 input
{
width: 50%;
height: 50px;
border: none;
outline: none;
font-size: 20px;
}
.footer .g .g1 button
{
background: #303030;
color: #ffffff;
padding: 20px 40px;
border: none;
text-transform: uppercase;
}

@media (max-width:500px)
{
.g
{
width: 100%;
}

}

.footer1
{
background: #303030;
padding: 40px;
}
.footer1 .h
{
display: flex;
flex-wrap: wrap;
padding: 30px;
background: transparent;
justify-content: center;
align-items: center;
color: #ffffff;
gap: 20px;


}
.footer1 .h1
{
width: 30%;
background: transparent;
}
.footer1 .h1 h1
{
font-size: 33px;
font-family: Oswald;
text-transform: uppercase;
}
.footer1 .h1 p
{
font-family: 'Montserrat', sans-serif;
font-size: 20px
}
.footer1 .h1 .h5
{
padding: 20px 0px;
}
.footer1 .h2
{
width: 20%;
background: transparent;
text-align: left;
line-height: 37px;

}
.footer1 .h2 p
{
font-family: 'Montserrat', sans-serif;
font-size: 20px
}
.footer1 .h2 h1
{
font-size: 33px;
font-family: Oswald;
}
.footer1 .h3
{
width: 20%;
background: transparent;
text-align: left;
line-height: 37px;
}
.footer1 .h3 h1
{
font-size: 33px;
font-family: Oswald;
text-transform: uppercase;
}
.footer1 .h3 p
{
font-family: 'Montserrat', sans-serif;
font-size: 20px
}
.footer1 .h4
{
width: 20%;
background: transparent;
margin-bottom: 78px;
text-align: left;
line-height: 37px;
}
.footer1 .h4 h1
{
font-size: 33px;
font-family: Oswald;
text-transform: uppercase;
}
.footer1 .h4 p
{
font-family: 'Montserrat', sans-serif;
font-size: 20px
}


@media (max-width:500px)
{
.footer1 .h1
{
width: 100%;
}
.footer1 .h2
{
width: 100%;
}
.footer1 .h3
{
width: 100%;
}
.footer1 .h4
{
width: 100%;
}
}